/* Other useful styles */

body {
    font-size: 16px;
    color: #222;
    background: #eee;
    padding: 0 3rem 1rem 3rem;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    margin: 1.5rem auto 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 3rem;
    color: #aaa;
}

h2 {
    text-align: center;
    margin: 1.5rem auto 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #aaa;
}

h5 {
    text-align: center;
    margin: 1.5rem auto 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: #aaa;
}

.axis text {
      font: 14px sans-serif;
  }
  .axis path,
  .axis line {
      fill: none;
      stroke: #aaa;
      shape-rendering: crispEdges;
  }

.statscontainer {
     display: flex;
     margin-top: 30px;
 
}
  
.statssection {
    flex: 1;
}
  
@media (max-width: 768px) {
    .statscontainer {
        flex-direction: column;
    }
}

