/* Other useful styles */

html {
    overflow-y: scroll; 
}

body {
    font-size: 16px;
    color: #222;
    background: #fff;
    padding: 0 1rem 1rem 1rem;
    font-family: 'Ubuntu', sans-serif;
}

/* Headers */
h1 {
    text-align: center;
    margin: 1.5rem auto 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 3rem;
    color: #aaa;
}

h2 {
    text-align: center;
    margin: 1rem auto 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #aaa;
}

h5 {
    text-align: center;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
    color: #aaa;
}

/* Main container, misc */
.maincontainer {
    margin-bottom: 15px;
}

.modes {
    text-align: center;
    display: none;
}

.divider {
    width: 30px;
    height: auto;
    display: inline-block;
}

/* Axes color */
.axis line {
    stroke:#777;
}

.axis path {
    stroke:#777;
}

.axis text {
    fill:#777;
}

/* Responsive stats */  
.statscontainer {
    overflow-x: hidden; /* Avoid to show the horizontal scrollbar when clearstats is pressed */
    display: flex;
    padding: 0;
    margin-top: 15px;
}
  
.statssection {
    flex: 1;
}
  
@media (max-width: 768px) {
    .statscontainer {
        flex-direction: column;
    }
}

/* Radio buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #aaa;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #aaa;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #7da1e8;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Buttons */
.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}
  
    @keyframes bouncy {
    0%{top: 0em}
    40%{top: 0em}
    43%{top: -0.6em}
    46%{top: 0em}
    48%{top: -0.3em}
    50%{top: 0em}
    100%{top: 0em;}
}
  
a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.2em solid #aaa;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.6em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 700;
    color: #aaa;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #fff;
    background-color: #aaa;
}
  
@media all and (max-width: 30em){
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

/* Donut charts */
polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

.labelName {
    font-size: 1em;
    font-style: bold;
}